node_modules
.git
.turbo
.next
dist
out
*.log
.env
.env.local
.env.development
.env.production
apps/web/.next
apps/web/node_modules
apps/web/dist
apps/api/node_modules
apps/api/dist
packages/*/node_modules
packages/*/dist
packages/*/out
